# Cell counts at different resolutions

H3 covers the sphere with both hexagon and pentagon cells.
Most of the time you'll only encounter hexagon cells because there are only
12 pentagons at each resolution, and they're all positioned to be in
the ocean.

Here are the counts of pentagons, hexagons, and all cells at each resolution.

In [1]:
import h3
from tabulate import tabulate

def num_pentagons(res):
    return 12

def num_hexagons(res):
    'Number of *hexagons* (excluding pentagons) at a resolution'
    return h3.num_hexagons(res) - 12

def num_cells(res):
    'Number of *hexagons* (excluding pentagons) at a resolution'
    return h3.num_hexagons(res)  # function name to be fixed in 4.0 release

def fmt(num):
    s = '{:,.0f}'
    return s.format(num)  


counts = [
    (res, num_cells(res), num_hexagons(res), num_pentagons(res))
    for res in range(16)
]

counts = [
    tuple(map(fmt, row))
    for row in counts
]
counts

[('0', '122', '110', '12'),
 ('1', '842', '830', '12'),
 ('2', '5,882', '5,870', '12'),
 ('3', '41,162', '41,150', '12'),
 ('4', '288,122', '288,110', '12'),
 ('5', '2,016,842', '2,016,830', '12'),
 ('6', '14,117,882', '14,117,870', '12'),
 ('7', '98,825,162', '98,825,150', '12'),
 ('8', '691,776,122', '691,776,110', '12'),
 ('9', '4,842,432,842', '4,842,432,830', '12'),
 ('10', '33,897,029,882', '33,897,029,870', '12'),
 ('11', '237,279,209,162', '237,279,209,150', '12'),
 ('12', '1,660,954,464,122', '1,660,954,464,110', '12'),
 ('13', '11,626,681,248,842', '11,626,681,248,830', '12'),
 ('14', '81,386,768,741,882', '81,386,768,741,870', '12'),
 ('15', '569,707,381,193,162', '569,707,381,193,150', '12')]

In [2]:
headers = [
    'Res',
    'Total number of cells',
    'Number of hexagons',
    'Number of pentagons',
]
out = tabulate(counts, headers=headers, tablefmt='pipe', stralign='right')

print(out)

|   Res |   Total number of cells |   Number of hexagons |   Number of pentagons |
|------:|------------------------:|---------------------:|----------------------:|
|     0 |                     122 |                  110 |                    12 |
|     1 |                     842 |                  830 |                    12 |
|     2 |                   5,882 |                5,870 |                    12 |
|     3 |                  41,162 |               41,150 |                    12 |
|     4 |                 288,122 |              288,110 |                    12 |
|     5 |               2,016,842 |            2,016,830 |                    12 |
|     6 |              14,117,882 |           14,117,870 |                    12 |
|     7 |              98,825,162 |           98,825,150 |                    12 |
|     8 |             691,776,122 |          691,776,110 |                    12 |
|     9 |           4,842,432,842 |        4,842,432,830 |                    12 |
|    10 |          33,897,029,882 |       33,897,029,870 |                    12 |
|    11 |         237,279,209,162 |      237,279,209,150 |                    12 |
|    12 |       1,660,954,464,122 |    1,660,954,464,110 |                    12 |
|    13 |      11,626,681,248,842 |   11,626,681,248,830 |                    12 |
|    14 |      81,386,768,741,882 |   81,386,768,741,870 |                    12 |
|    15 |     569,707,381,193,162 |  569,707,381,193,150 |                    12 |

In [3]:
from IPython.display import Markdown
Markdown(out)

|   Res |   Total number of cells |   Number of hexagons |   Number of pentagons |
|------:|------------------------:|---------------------:|----------------------:|
|     0 |                     122 |                  110 |                    12 |
|     1 |                     842 |                  830 |                    12 |
|     2 |                   5,882 |                5,870 |                    12 |
|     3 |                  41,162 |               41,150 |                    12 |
|     4 |                 288,122 |              288,110 |                    12 |
|     5 |               2,016,842 |            2,016,830 |                    12 |
|     6 |              14,117,882 |           14,117,870 |                    12 |
|     7 |              98,825,162 |           98,825,150 |                    12 |
|     8 |             691,776,122 |          691,776,110 |                    12 |
|     9 |           4,842,432,842 |        4,842,432,830 |                    12 |
|    10 |          33,897,029,882 |       33,897,029,870 |                    12 |
|    11 |         237,279,209,162 |      237,279,209,150 |                    12 |
|    12 |       1,660,954,464,122 |    1,660,954,464,110 |                    12 |
|    13 |      11,626,681,248,842 |   11,626,681,248,830 |                    12 |
|    14 |      81,386,768,741,882 |   81,386,768,741,870 |                    12 |
|    15 |     569,707,381,193,162 |  569,707,381,193,150 |                    12 |